<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sqlitesample">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".ui.activities.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.AddContactInfoActivity"
                  android:parentActivityName=".ui.activities.MainActivity">
        </activity>
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="993bb7c89871643c4c21153fb8e0c566370cdc2e"
        />
    </application>

</manifest>